<h1>Stéphane RIOS</h1>
<h2>Mail : <a id="mailto"></a></h2>
<h2>Tel : <a id="tel"></a></h2>
<h2>Twitter : <a href="http://twitter.com/stefounet">http://twitter.com/stefounet</a></h2>
<h2>LinkedIn : <a href="http://fr.linkedin.com/pub/stephane-rios/0/717/326">http://fr.linkedin.com/pub/stephane-rios/0/717/326</a></h2>
<script>var href ="",tel="";href="mailto:info";href+="@";href+="agilitik.com";tel="tel:";tel+="06";tel+="30264480";document.getElementById("mailto").setAttribute("href",href);document.getElementById("tel").setAttribute("href",tel);document.getElementById("mailto").innerHTML=href.replace("mailto:","");document.getElementById("tel").innerHTML=tel.replace("tel:","")</script>