<h1>Agilitik est une soci&eacute;t&eacute; de conseil informatique, sp&eacute;cialis&eacute;e dans les technologies Web.</h1>
<p>Agilitik aime ce qui est simple, transparent, (tr&egrave;s) rapide, bien construit, intelligent, technique.</p>
<p>Agilitik se reconna&icirc;t donc dans des domaines tels que :
<ul class="l1">
	<li>les M&eacute;thodes Agiles</li>
	<li>le Lean</li>
	<li>Ruby On Rails</li>
	<li>les Performances Webs</li>
	<li>NoSQL</li>
	<li>DevOps</li>
	<li>L&#x27;int&eacute;gration Continue</li>
</ul>
</p>
<p>Pour en savoir plus, retrouvez <a href="/fr/services">notre offre de service</a> et cherchez &agrave; savoir <a href="/fr/who">qui nous sommes</a> !</p>