<ul class="txt">
	<li>une mission terminée : démarrer le référencement naturel de <a href="http://www.bonus50.fr">www.bonus50.fr</a></li>
	<li>une mission en cours : un grand site de eCommerce rencontre des problèmes de performances</li>
</ul>