Agilitik ne vend pas ce qu'il ne connait pas. Agilitik, c'est de l'informatique Web.

<h2>Audit / Conseil</h2>
<p class="txt">
	Vous avez un problème d'organisation dans votre équipe, vous cherchez une vision extérieure capable de vous faire prendre le recul nécessaire, vous faire passer une étape difficile ?<br>
	Vous voulez industrialiser l'IT de votre startup ?<br>
	Vous avez des problèmes de performances sur votre site / application Web ?<br>
	Vous vous demandez comment faire pour améliorer la productivité de vos équipes ?<br>
	Vous cherchez encore ce que veut dire Agile ?<br>
	<br>
	Agilitik réalise pour vous un audit de la situation et vous rend un rapport détaillé comprenant des recommandations à appliquer pour améliorer la situation.<br>
	Agilitik suit aussi l'avancement des recommandations, conseille les équipes en charge, etc ...
	</p>
<h2>Réalisation</h2>
<p class="txt">
	Si après la phase d'audit et de conseil, il apparait qu'il faut "faire" mais que vous n'avez personne pour "faire", c'est simple, faites appel à Agilitik.
</p>
<h2>Formation</h2>
<p class="txt">
	"Faire" ne suffit pas, il faut apprendre à faire "faire".
</p>
<div align="center">
<img src="/images/redstar.png" width="17" height="17">
</div>
<p class="txt">
Pour faire plus simple, appelez nous au <a id=tel></a> et nous échangerons quelques minutes.<br>Si après ça, vous avez envie de creuser un sujet, rencontrons nous d'abord autour d'un (petit)déjeuner par exemple et nous essaierons de vous convaincre qu'Agilitik peut vous aider.</p>
<script>tel="";tel="tel:";tel+="06";tel+="30264480";document.getElementById("tel").setAttribute("href",tel);document.getElementById("tel").innerHTML="0630264480";</script>