<p>Ou plutôt qui suis-je ?</p>
<p class="prezbio">Agilitik, c'est aujourd'hui Stéphane RIOS, "dinosaure de l'internet", CTO de RueDuCommerce.com pendant 10 ans et depuis peu cette activité passionnante de conseil.</p>

<h2>Bio</h2>
<span class="sm">(longue et romancée)</span>
<p class="bio">
Passionné d'informatique depuis l'age de 10 ans, j'ai mon premier ZX Spectrum en 82 avec lequel je m'amuse à la programmation d'un jeu en assembleur à la mimine avec des Poke/Read/Data.<br>
<span class="tuh">(16Ko de mémoire avec une extension de 32Ko)</span>
<br>
Je découvre l'Internet en 1993, je réalise mes premières pages HTML cette même année.
J'installe mon premier serveur web sous windows 3.11 en 1994<br>
<span class="tuh">(Gopher, Veronica, Usenet, même sur un terminal VT3270)</span><br>
En 1996, j'ai le choix entre une thèse au CEA et une place chez Webnet, "web agency" mais le terme n'existe pas encore . C'est l'internet qui gagne.<br>
<span class="tuh">(Mygale, Multimania, 20 Mo d'hébergement gratuit)</span><br>
A suivre ...
<!--
Le reste c'est d'abord 5 ans dans le monde SSII hyper formateur :<br>
Webnet pendant 2 ans, 20 projets différents et l'impression de faire partie d'une nouvelle révolution en marche<br>
Mygale, Multimania, 20 Mo d'hébergement gratuit, Netscape Application Server (avec du SSJS, Server Side Javascript oui oui, node.js n'a rien inventé ;-), Informix<br>
puis SOGETI pendant 2 ans (Transiciel à l'époque) <br>
Beaucoup d'évangélisation, de l'avant-vente, de la formation et du dév en ASP (première version)<br>
Déja le souci de l'optimisation (à l'époque via des procédures stockées sur SQL Server 6.5/7)<br>
et enfin CosmosBay, à l'époque spécialisé dans le XML (oui oui j'ai fait des applis à base d'XML qui décrivait les interfaces et les données, un semblant d'ORM en 2000), le tout sous IE5 (oh bonheur des "ilots XML")<br>
En 2001, c'est Yannick Simon, que j'vais croisé chez webnet qui m'appelle chez RDC en tant que directeur technique adjoint, en charge de la partie front office<br>

de 2001 a 2005, je crois avoir tout fait et appris énormément auniveau technique et en terme d'architecture<br>
2006 à 2010 ont été les années de manager, il a fallu structurer l'équipe, d'abord en mettant en place <br>
-->

<h2>CV</h2>
<p class="txt">
Pour avoir quelques détails supplémentaires et plus formatés : <a href="http://sr.tl/cv">cv</a>.
</p>


