<h1>Qui sommes nous ?</h1>
<p>Ou plutôt qui suis-je ?</p>
Agilitik c'est aujourd'hui Stéphane RIOS, "dinosaure de l'internet", CTO de RueDuCommerce.com pendant 10 ans et depuis quelques mois à votre service, prêt à en découdre avec toutes les problématiques que vous voudrez bien lui soumettre.

Passionné d'informatique depuis l'age de 10 ans (mon premier ZX Spectrum en 82, programmation d'un jeu en assembleur à la mimine* avec des Poke/Peek et Read/data vous vous souvenez)
Découverte de l'Internet en 1993, premières pages HTML cette même année 
Première installation d'un serveur web sous windows 3.11 en 94, 

Gopher, veronica, usenet

Et sinon, pour avoir quelques détails supplémentaires, voici mon <a href="http://sr.tl/cv">cv</a>.
<br>En résumé :


